@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header-logo_text {
    font-size: 2rem;
    color: #3A404E;
}

.header-list {
    display: flex;
    gap: 30px;
    color: #667085;
}

.header-items {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-buttons > button {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

#button-login {
    color: #667085;
    border: none;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

#button-sign {
    background-color: #8E2424;
    color: #fff;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
